// imports
@import 'imports'

// re-write bootstrap
.container
    width 980px

.navbar-static-top
.navbar-fixed-top
.navbar-fixed-bottom
    .container
        width 980px

// page css

#wrapper

	&.editing
		padding-top 50px

#public
	display(none)

header

	ul
		overflow hidden

	li
		float left
		margin-right 20px